@use "./vendors/modern-normalize";
@use "./spaces";
@use "./colors";
@use "./typography";
@use "./globals";
@use "./components";

@layer reset {
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  button {
    all: unset;
    cursor: pointer;
  }
}

@layer reset, base, theme, components;
