@use "../utils" as *;

$padding: space(2) space(4);
$font-size: larger;

@layer components {
  .button {
    padding: #{$padding};
    border-radius: space(1);

    font-size: $font-size;
    color: color("text-foreground");
    text-align: center;

    background-color: color("primary");
  }

  .button:focus-visible {
    outline: 2px solid color("primary");
    outline-offset: 2px;
  }

  .button:active {
    transform: scale(0.98);
  }

  .button:disabled {
    transform: none;
    box-shadow: none;
  }

  .button-placeholder {
    box-sizing: content-box;
    padding: $padding;
    font-size: $font-size;
  }

  .button-placeholder::before {
    content: "";
    display: inline-block;
    height: 1em;
  }
}
