@layer components {
  .spinner {
    --c1: rgb(255 255 255 / 75%);
    --c2: rgb(255 255 255 / 100%);
    --c3: rgb(255 255 255 / 55%);
    --c4: rgb(255 255 255 / 90%);

    display: grid;

    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;

    background:
      linear-gradient(0deg, var(--c1) 30%, #0000 0 70%, var(--c2) 0) 50% / 8%
        100%,
      linear-gradient(90deg, var(--c3) 30%, #0000 0 70%, var(--c4) 0) 50% / 100%
        8%;
    background-repeat: no-repeat;

    animation: l23 1s infinite steps(12);
  }

  .spinner.dark {
    --c1: rgb(0 0 0 / 50%);
    --c2: rgb(0 0 0 / 100%);
    --c3: rgb(0 0 0 / 25%);
    --c4: rgb(0 0 0 / 75%);
  }

  .spinner::before,
  .spinner::after {
    content: "";

    transform: rotate(30deg);

    grid-area: 1 / 1;

    border-radius: 50%;

    opacity: 0.915;
    background:
      linear-gradient(0deg, var(--c1) 30%, #0000 0 70%, var(--c2) 0) 50% / 8%
        100%,
      linear-gradient(90deg, var(--c3) 30%, #0000 0 70%, var(--c4) 0) 50% / 100%
        8%;
    background-repeat: no-repeat;
  }

  .spinner::after {
    transform: rotate(60deg);
    opacity: 0.83;
  }

  @keyframes l23 {
    100% {
      transform: rotate(1turn);
    }
  }
}
