.container {
  @include container;

  display: flex;
  flex-direction: column;
  gap: space(2);
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: space(3);
}

.productsList__item {
  height: 100%;
}
