$fallbackFonts:
  system-ui,
  -apple-system,
  blinkmacsystemfont,
  "Segoe UI",
  sans-serif;

@layer base {
  // fonts are imported in a "src/app/fonts.ts"
  :root {
    --font-heading: var(--font-montserrat), #{$fallbackFonts};
    --font-body: var(--font-open-sans), #{$fallbackFonts};
  }

  html {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
